<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      <%= t ".this" %>
      <link_to href="http://www.railstutorial.org/">Ruby on Rails Tutorial</link_to>
      sample application.
    </p>
  </body>
  <%= link_to "English", locale:"en" %>
  <%= link_to "Vietnamese", locale:"vi" %>
  
</html>
