<% provide :title, t(".home") %>
<div class="center jumbotron">
  <h1><%= t ".Wel_App" %></h1>
  <h2>
    <%= t ".content_html",
    link1: link_to("Ruby on Rails Tutorial", "http://www.railstutorial.org/") %>
  </h2>
  <%= link_to t(".Sign_now"), "#", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org/" %>
